//* ==================== + ==================== + ====================
//* 
//* 						The site was made by Miron Khoruzhenko
//* 
//*    Email:	mironkhoruzhenko@gmail.com
//*  Website:	www.orinium.com
//* LinkedIn:	https://www.linkedin.com/in/miron-khoruzhenko-164085202/
//*   Github:	https://github.com/miron-khoruzhenko/
//* 
//* ==================== + ==================== + ====================

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body{
	font-family: 'Lato', sans-serif;
}

.my_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #42A9ED;
  cursor: pointer;
	width: 100%;
}


.my_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
	border-radius: 50%;
	border: #286690 3px solid;
  background: #42A9ED;
  cursor: pointer;
}
.my_slider{
	border-radius: 1000px;
	border: 1px solid #fff;
	width: 100%;
	height: 6px;
	background-color: rgba(255, 255, 255, 0.7);
}

div{
	overflow-x: hidden;
}